* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul {
  font-size: 1em;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.8em 1.1em;
  padding: 1.2em 0 0 1.2em;
  color: #303040;
  text-transform: capitalize;
}
img {
  display: block;
  margin: 1.8em auto 0 auto;
}
#instructions {
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #eee;
  border-left: 10px solid #9684a3;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  font-size: medium;
}
.Favorites {
  position: relative;
  display: block;
  padding: 0.8em 0.8em 0.8em 4em;
  margin: 0.5em 0;
  background: #dad2ca;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}
.Favorites:hover {
  background: #e9e4e0;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;

  box-sizing: border-box;
}
